.nav{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    height: 13%;
    padding: 1rem 4rem 1rem 2rem;
    align-items: center;
}
.navleft{
    font-size: 2rem;
}
.navright{
    font-size: 1.5rem;
}