.nav{
    background-color: #fff;
    border-bottom: 2px solid lightgray;
    color: #8855F4;
    
    display: flex;
    justify-content: right;
    height: 13%;
    padding: 1rem 4rem 1rem 2rem;
    align-items: center;
}
.name{
    font-size: 2rem;
    font-weight: 500;
}